@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transition douce pour le changement de thème */
html.dark {
    transition: color 0.5s, background-color 0.5s;
}

html {
    transition: color 0.5s, background-color 0.5s;
}

[x-cloak] {
    display: none;
}